
  /* FONT IMPORT */
  @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Abel');
  /* header */

  .header {
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: 3;
  }
  .section { 
    padding: 1rem 1.5rem;
  }
  .full-width-image { 
    height: 100vh;
}
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: rgba(0,0,0,0.85);
    border-radius: 0px 0px 0px 30px;
    position: fixed;
    top: 0;
    right: 0;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: #343334;
    font-weight: 600;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #343334;
    color: #cdcc00;
  }

  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #cdcc00;
    display: block;
    height: 2px;
    position: relative;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #cdcc00;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  h1, h2 { 
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #343334!important;
  }
  h3, h4, h5, h6 { 
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #cdcc00!important;
  }
  .social a { 
    background-color: #cdcc00;
    color: #fff!important;
  }
  .reasonDescription { 
    display: inline-block;
    width: 75%;
  }
 .seedImage { 
   width: 25%;
   display: block;
   float: left;
   clear: both;
   padding: 10px;
 }
  .social a img { 
    filter: invert(25%); 
  }
  .social a img:hover { 
    filter: invert(100%); 
  }
  .social a:hover { 
    background-color: #006699; 
  }
  .has-background-blue { 
    background-color: #006699!important;
  }
  .has-background-black { 
    background-color: #343334!important;
  }
  // STYLING QUOTE AREA // 
.mainQuoteText { 
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    color: #fff!important;
    font-size: 2rem!important;
    padding: 50px 30px;
    background: #006699;
    text-align: center;
}
.mainQuoteAttr { 
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    color: #fff!important;
    font-size: 1.5rem!important;
    text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.1);
    text-align: right;
    padding: 15px 22px;
    background-color: rgb(50, 153, 204);
    width: fit-content;
    border-radius: 2px;
}
.header {
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: 3;
}
.header:after {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: absolute;
  width: 100%;
  z-index: 3;
}

.header ul {
  background-size: cover;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-image: url(/img/navBg.jpg);
  background-color: rgba(255,255,255,0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top:0;
  border-radius: 0px 0px 0px 0px;
height: 100vh;
}
.header .menu-icon { 
  background-color: #343334;
  position: fixed;
  border-radius: 50%;
top: 10px;
right: 10px;
z-index: 2;
}
.header .menu-btn:checked ~ .menu {
  max-height: 100vh;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  text-align: center;
  padding-top: 20vh;
  overflow:hidden;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.blogTitleBox { 
  background: transparent;
  color: #fff!important;
  padding: 15px 50px;
  text-shadow: 5px 5px 20px #333;
}
.cabcLogo { 
  width: 370px;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.cabcLogoText { 
  width: 600px;
  display: block;
  padding: 5px;
}
.post-meta { 
  padding: 10px;
}
.subtitle:not(:last-child) { 
  margin-bottom: 10px;
}
.notification { 
  background-color: #ecf8fe;
  padding: 0px;
}
.box { 
  padding: 0px;
}
.blog-list-item .featured-thumbnail { 
  flex-basis: 100%;
  margin: 0px;
}
.notification a:not(.button):not(.dropdown-item) { 
  color: #006699!important;
  text-decoration: none;
}
@media (max-width: 80em) {
.cabcLogo { 
  width: 370px;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cabcLogoText { 
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 5px;
}
.seedImage { 
  width: 18%;
  display: block;
  float: left;
  clear: both;
  padding: 10px;
}
}
  /* 48em = 768px */
  
  @media (max-width: 48em) {
    // STYLING QUOTE AREA // 
.mainQuoteText { 
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-size: 1.6rem!important;
    padding: 50px 30px;
    background: #006699;
    text-align: center;
    text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.content h1 { 
  font-size: 1.5rem;
}
.seedImage { 
  width: 15%;
  display: block;
  float: left;
  clear: both;
  padding: 10px;
}
.seedBox { 
  min-height: 90px;
}
.full-width-image { 
  height: 75vh;
  background-position: center;
}
.mainQuoteAttr { 
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-size: 1.5rem!important;
    text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.section { 
  padding-top: 2rem;
  padding: 1rem;
}
    .cabcLogo { 
      width: 370px;
      padding: 5px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .cabcLogoText { 
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      padding: 5px;
    }
   
  }
  .full-width-image { 
      height: 100vh;
  }

  body { 
    font-family: 'Roboto', sans-serif;
  }
  p { 
    font-family: 'Roboto', sans-serif;
  }
  /* Footer Menu */
  .footerContact { 
    color: #cdcc00!important;
    font-weight: 400!important;
    font-size: 1.1em!important;
  }
  .custom-counter  {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .custom-counter li {
    counter-increment: step-counter;
    margin-bottom: 10px;
    list-style: none;
    background-color: #006699;
    padding: 15px;
    margin-bottom: 15px;
    color: #fff;
    border-radius: 50px;
  }
  
  .custom-counter li::before {
    content: counter(step-counter);
    margin-right: 10px;
    font-size: 100%;
    background-color: #cdcc00;
    color: #fff;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 50%;
  }
  .overSizedHeading { 
    font-size: 5rem!important;
  }
  .content h1, .content h2, .content h3, .content h4 { 
    font-weight: 400!important;
  }
  .button {
    background-color: #006699;
    border-color: none;
    border-width: 1px;
    color: #fff;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
    border-radius: 5px;
}
.button:hover {
  color: #cdcc00;
}
h3 { 
  background-color: #343334;
  width: fit-content;
  padding: 8px 10px;
}
.purposeItem { 
  margin-left: 13px;
  width: 100%;
  display: inline-block;
  border-left: 4px solid #cdcc00;
  padding: 15px;
  padding-left: 25px;
}
.blog-list-item .featured-thumbnail { 
  filter: grayscale(1);
}
.missionStatement { 
  color: #343334!important;
  font-size: 30px!important;
  letter-spacing: 1.5px;
}
.tagHeadingText { 
  padding-top: 10px;
  font-size: 21px!important;
}
.tagHeadingText:hover { 
  color: #cdcc00!important;
}
.reportType { 
  display: inline-block;
  padding-right: 30px;
  padding-bottom: 30px;
}
.reportType:hover { 
text-decoration: underline;
}